.post-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 75%;
  padding-top: 100%; /* Ratio hauteur/largeur pour garder le conteneur de l'image carré */
  overflow: hidden; /* Pour masquer le dépassement de l'image */
}

.image-wrapper ion-img,ion-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour s'assurer que l'image couvre tout le conteneur tout en préservant son aspect */
}

ion-img {
  max-width: 100%;
  max-height: 70%;
}

.text {
  position: absolute;
  bottom: 10px; /* Distance depuis le bas */
  left: 1px; /* Distance depuis la gauche */
  color: white;
  font-size: 16px;
  z-index: 1; /* Assure que le texte est au-dessus de l'image */
}

ion-textarea {
  //border-style: solid;
  border-radius: 15px;
  background-color: white !important;
  color: black !important;
  padding: 5px;

  //border-color: white;
}

.publish {
  background-color: black;
}

.description {
  background-color: white;
}
