<ion-header>
  <ion-toolbar>
    <ion-title>Full Screen Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullscreen-image-container">
    <div class="image-wrapper">
      <ion-img [src]="image.url" alt="Image"></ion-img>

      <div class="like">
        <ion-toolbar class="flex">
          <ion-buttons slot="start">
            <ion-button [color]="(image.nbLikes | async | LikesIconColorPipe)" (click)="processLike(image.id)">
              <ion-icon  [name]="(image.nbLikes | async | LikesIconPipe)"></ion-icon>{{image.nbLikes | async }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>

      <div class="description">
        <ion-textarea class="text" fill="outline" [label]="imageDate" [readonly]="true">{{imageDescription}}</ion-textarea>
      </div>

    </div>
  </div>
</ion-content>
