<ion-header>
  <ion-toolbar>
    <ion-title>Full Screen Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <ion-img [src]="image.url" alt="Image"></ion-img>
  </div>
  <div class="flex-sp">
    <ion-label>{{image.pseudo}}</ion-label>
    <ion-label>{{formatDate(image.date)}}</ion-label>
  </div>
  <quill-view [content]="image.description"></quill-view>

  <ion-toolbar class="flex">
    <ion-buttons slot="start">
      <ion-button [color]="(image.nbLikes | async | LikesIconColorPipe)" (click)="processLike(image.id)">
        <ion-icon  [name]="(image.nbLikes | async | LikesIconPipe)"></ion-icon>{{image.nbLikes | async }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
