<ion-header>
  <ion-toolbar>
    <ion-title>Publication</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="image-container">
    <ion-img [src]="imageInfos.dataUrl" alt="Image"></ion-img>
  </div>

  <div class="button-bar">
    <ion-button slot="end" color="Dark" (click)="publish()" [disabled]="!toPublished">Publier
      <ion-icon size="large" name="send" ></ion-icon>
    </ion-button>

  </div>
  <div class="scrollable-container">
    <div style="height: 150px;">
      <quill-editor  class="text" [(ngModel)]="imageDescription" ></quill-editor>
    </div>
  </div>
  <div class="emojikeyboard">
    <ionic-emoji-keyboard (emojiSelected)="onEmojiSelected($event)" [height]="'110px'" [hide]="showEmojiKeyboard" ></ionic-emoji-keyboard>
  </div>
</ion-content>
