.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: calc(40vh - 100px); /* Ajustez la hauteur comme nécessaire */
}

.button-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  background-color: #000000; /* Changez la couleur de fond selon vos besoins */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre sous la barre de boutons */
}

ion-textarea {
  //border-style: solid;
  border-radius: 15px;
  background-color: white !important;
  color: black !important;
  padding: 5px;

  //border-color: white;
}


.description {
  background-color: white;
}
.inner-scroll {
  background-color: #000000;
}
ion-content {
  --ion-background-color: black; // Changez la couleur de fond de l'ion-content
}
