<ion-header>
  <ion-toolbar>
    <ion-title>Suppression d'Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="image-container">
      <ion-img name="avatar" [src]="post.url" ></ion-img>
  </div>
  <div class="button-bar">
    <ion-button shape="round" slot="end" color="light" (click)="update(post)">Supprimer
      <ion-icon color="danger" size="large" name="close-circle" ></ion-icon>
    </ion-button>
    <ion-button shape="round" slot="end" color="light" (click)="delete(post)">Supprimer
      <ion-icon color="danger" size="large" name="close-circle" ></ion-icon>
    </ion-button>
  </div>

</ion-content>
