<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallerie" href="/tabs/gallerie">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Gallerie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usergallerie" href="/tabs/usergallerie">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Mes photos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
