<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
				<key>dateExpires</key>
				<string>26/04/2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorDevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPreferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>769A8A295F5639FF6FF1BA03A69EA644F7760C97</string>
						<key>dateExpires</key>
						<string>26/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H8Q9BRNHUZ</string>
						<key>name</key>
						<string>Sylvain LAURENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H8Q9BRNHUZ.com.slydev.wedpics</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H8Q9BRNHUZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e8de4edd-b725-4b69-b60c-6200cfadd9da</string>
				<key>dateExpires</key>
				<string>26/04/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.slydev.wedpics</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H8Q9BRNHUZ</string>
				<key>name</key>
				<string>Sylvain LAURENT</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
