<ion-card class="stories">
  <div class="story">
    <div class="add_story">
      <ion-img src="../../assets/insta-assets/instagram-bg-color.jpg" (click)=afficheAllGalleries()></ion-img>
    </div>
    <p style="color: #86888f;">Tous les posts</p>
  </div>
    <div *ngFor="let storie of stories$ | async"  class="story" >
      <ion-avatar >
        <ion-img [src]="storie.url" (click)=afficheUserGallerie(storie.email)></ion-img>
      </ion-avatar>
      <p >{{storie.pseudo}}</p>
    </div>
</ion-card>
