<ion-content>
  <br>

<ion-item lines="none">
  <ion-label>
    <h1><b>{{(user$ | async)?.[0]?.pseudo}}</b></h1>
  </ion-label>
  <ion-avatar>
    <img [src]="(user$ | async)?.[0]?.url">
  </ion-avatar>
</ion-item>

<div class="info_box">
  <div class="data_box">
    <b>{{(numberOfPosts$ | async)}}</b>
    <p>posts</p>
  </div>
  <div class="data_box" hidden="true">
    <b>7850</b>
    <p>followers</p>
  </div>
  <div class="data_box" hidden="true">
    <b>715</b>
    <p>following</p>
  </div>
</div>

<hr>

<div class="profile_box">
  <ion-textarea class=""></ion-textarea>

</div>


</ion-content>



