ion-header img {
  height: 47px;
  margin-top: 4px;
}
ion-header {
  background-color: #ffffff;
}
hr {
  height: 0px !important;
  width: 100% !important;
  background: #ffffff !important;
}

.dslogo{

  width: 20%;
  padding-bottom: 0%;
  margin-left: 10px;
  background-size: cover;
}

.flex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

ion-textarea{
  color:black;
}

ion-avatar{
  margin-right: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.img_box {
  border: 1px solid rgb(4, 4, 4);
  width: 33.3%;
  padding-bottom: 31%;
  background-size: cover;
  background-repeat: no-repeat;
}


