ion-header img {
  height: 47px;
  margin-top: 4px;
}
hr {
  height: 0px !important;
  width: 100% !important;
  background: #d5d5d5 !important;
}
.flex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

ion-textarea{
  color:black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.img_box {
  border: 1px solid white;
  width: 33.3%;
  padding-bottom: 31%;
  background-size: cover;
  background-repeat: no-repeat;
}
