<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="selectImage('camera')">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="selectImage('library')">
        <ion-icon slot="icon-only" name="images"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="publish()" [disabled]="!toPublished">
        <ion-icon slot="icon-only" name="send" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>
      <img src="../../assets/images/ewings-logo-black.png">
    </ion-item>
    <ion-avatar slot="end" >
      <ion-img name="avatar" [src]="(user$ | async)?.[0]?.url" ></ion-img>
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="flex">
    <div class="img-box">
      <img [src]="image"  alt="Image">
      <br>
    </div>

  </div>
  <ion-label>
    <p>description du post</p>
  </ion-label>
  <ion-textarea [(ngModel)]="description"></ion-textarea>
  <ion-item>
    <ion-label>
      <p>utilisateur</p>
      <h2><b>{{user}}</b></h2>
    </ion-label>
  </ion-item>

  <div></div>
</ion-content>
