.flex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.img-box {
  height: 200px;
  overflow: hidden;
}
img {
  height: 200px;
}

ion-header img {
  height: 47px;
  margin-top: 4px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.img_box {
  border: 1px solid white;
  width: 33.3%;
  padding-bottom: 31%;
  background-size: cover;
  background-repeat: no-repeat;
}
